include unitypack/export/*
include unitypack/external/texgenpack.exe
include unitypack/external/lame/lame.exe
include unitypack/external/lame/lame_enc.dll
include unitypack/external/pythread/php_pthreads.dll
include unitypack/external/pythread/pthreadVC2.dll
include unitypack/external/un-acb/un-acb.exe
include unitypack/external/un-acb/un-acb.exe.config
include unitypack/external/un-acb/un-acb.pdb
include unitypack/external/un-acb/vgmtutil.dll
include unitypack/external/un-acb/WIP_VGMToolbox.py
include unitypack/external/unity-game-resource-unpacker/.gitignore
include unitypack/external/unity-game-resource-unpacker/etcpack.exe
include unitypack/external/unity-game-resource-unpacker/extract.py
include unitypack/external/unity-game-resource-unpacker/libogg.dll
include unitypack/external/unity-game-resource-unpacker/libvorbis.dll
include unitypack/external/unity-game-resource-unpacker/LICENSE
include unitypack/external/unity-game-resource-unpacker/README.md
include unitypack/external/vgmstream/avcodec-vgmstream-58.dll
include unitypack/external/vgmstream/avformat-vgmstream-58.dll
include unitypack/external/vgmstream/avutil-vgmstream-56.dll
include unitypack/external/vgmstream/COPYING
include unitypack/external/vgmstream/in_vgmstream.dll
include unitypack/external/vgmstream/libatrac9.dll
include unitypack/external/vgmstream/libg719_decode.dll
include unitypack/external/vgmstream/libg7221_decode.dll
include unitypack/external/vgmstream/libmpg123-0.dll
include unitypack/external/vgmstream/libvorbis.dll
include unitypack/external/vgmstream/README.md
include unitypack/external/vgmstream/swresample-vgmstream-3.dll
include unitypack/external/vgmstream/test.exe
include unitypack/external/vgmstream/xmp-vgmstream.dll